/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }

body {
	font-family: sans-serif;
	font-size: 14px;
}

/* ---------------------------------------------------- */

h1 {
	text-align: center;
}
.clenka {
	padding: 25px;
	  border: 1px solid rgb(132, 132, 196);
	  border-radius: 8px;
	  box-shadow: 0 2px 4px rgb(130, 130, 155);
  }

.clenka {
	text-align: center;
	margin-bottom: 25px;
}
.foto img {
	border-radius: 50%;
}

@media (min-width: 540px) {

	.tym {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.clenka {
		width: calc( (100% - 25px) / 2 );
		display: flex;
		text-align: left;
	}

	.foto {
		flex: 0 0 80px;
		margin-right: 20px;
	}

	.foto img {
		width: 100%;
	}

}


@media (min-width: 960px) {

	.tym {
		display: flex;
		flex-wrap: nowrap;
	}

	.clenka {
		width: calc( (100% - 50px) / 4 );
		display: block;
		text-align: center;
	}

	.foto img {
		width: auto;
	}

	.foto {
		margin: 0;
	}

